*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html,body{
    height:100%;
    width: 100%;
}
#Main{
 height: 100%;
 width: 100%;
}
#box{
    height:50vh;
    width:50vw;
    border:2px solid black;
    position: relative;
    left:25%;
    top:25%;
}

@media screen and (max-width:600px){
    body{
        background-color: #dedcdf;
    }
    #box{
        height:35vh;
        width:85vw;
        position: relative;
        left:9%;
        top:30%;
    }
}